/* (telefonai, 600px ir žemiau) */
@media only screen and (max-width: 600px) {
    .wraper {
        width: 300px;
        grid-template-areas:
        'h'
        'm'
        'f';
    }
    .wraper  > aside {
        display: none;
    }
    body > header {
        grid-template-areas:
'n';
    }
    header .slogan, header .logo {
        display: none;
    }
}

/* (statmenos planšetės, ar gulsti telefonai 600px ir aukščiau) */
@media only screen and (min-width: 600px) {
    .wraper {
        width: 600px;
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
    .wraper  > aside {
        display: none;
    }
    body > header {
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
    header .slogan {
        display: none;
    }
    header .logo {
        display: block;
    }
}

/* (gulsčios planšetės ar maži laptopai, 768px ir aukščiau) */
@media only screen and (min-width: 768px) {
    .wraper {
        width: 700px;
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
    body > header {
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
    .wraper  > aside {
        display: block;
    }
    header .slogan {
        display: block;
    }
    header .logo {
        display: block;
    }
}

/* (laptopai, staliniai PC, 992px ir aukščiau) */
@media only screen and (min-width: 992px) {
    .wraper {
        width: 900px;
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
}

/* (dideli laptopai ir stalinai PC, 1200px ir aukščiau) */
@media only screen and (min-width: 1200px) {
    .wraper {
        width: 1200px;
        grid-template-areas:
        's s s s'
        'h h h h'
        'm m a a'
        'f f f f';
    }
}